@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
  max-width: 100vw;
  position: relative;
}

.header {
  background: lighten(#ff6961, 5%);
  color: lighten(#ff6961, 85%);;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.main-content {
  min-height: calc(~'100vh - 120px');
  background: #f5f5f5;
  padding-top: 80px;
}

.pokemon-card {
  margin: 12px 0;
  width: 33.33%;
  min-height: 40px;
  display: inline-block;
  padding: 6px;
  position: relative;
  &.clickable {
    cursor: pointer;
    outline: none;
  }
  .avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &.backgrounded {
      background: #ddd;
    }
    img {
      width: 100%;
    }
  }
  .popup-pokemon {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: fade(#333, 50%);
    z-index: 3;
    .inner {
      margin-top: 100px;
      padding: 24px;
      position: relative;
      background: #fff;
      width: 800px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 3px;
      .name {
        font-size: 18px;
        text-transform: capitalize;
      }

      .pictures {
        margin: 12px 0;
        img {
          border: 1px solid #f5f5f5;
          margin: 2px;
        }
      }
      .details-item {
        margin-top: 24px;
        .item {
          width: 20%;
          display: inline-block;
          .type {
            color: #999;
            font-size: 11px;
            text-transform: uppercase;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .pokemon-detail {
    background: #fff;
    border-radius: 3px;
    padding: 24px;
    margin-top: 50px;
    padding-top: 52px;
    .title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
    }
    .details-item {
      margin-top: 24px;
      .item {
        text-align: center;
        width: 33.333%;
        display: inline-block;
        .type {
          color: #999;
          font-size: 11px;
          text-transform: uppercase;
          margin-top: 3px;
        }
      }
    }
  }
}

.cards {
  padding-top: 40px;
}

.searchBar {
  background: #fff;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 2;
  img {
    position: absolute;
    top: 14px;
  }
  input {
    border: none;
    padding: 12px 0 12px 20px;
    width: 100%;
    outline: none;
    font-size: 12px;
  }
}

.footer {
  height: 40px;
  line-height: 40px;
  background: #ddd;
  color: #999;
  font-size: 11px;
}
